{% extends 'base.html.twig' %}

{% block title %}Hello LandingController!{% endblock %}

{% block body %}
<!-- ===================== -->
<!-- ÎLES À GAUCHE -->
<!-- ===================== -->
<div class="iles1" aria-label="Jeux">
  <a href="{{ path('app_wheel') }}" class="island-link1 island-roue1">
    <img class="island1" src="{{ asset('assets/images/ile-axel1.png') }}" alt="Roue Magique" />
  </a>

  <a href="{{ path('app_devinelemot') }}" class="island-link1 island-devine1">
    <img class="island1" src="{{ asset('assets/images/ile-alexis1.png') }}" alt="Devine le mot" />
  </a>

  <a href="{{ path('app_ptinata') }}" class="island-link1 island-pinata1">
    <img class="island1" src="{{ asset('assets/images/ile-kyllian1.png') }}" alt="Pinata" />
  </a>

  <a href="{{ path('app_scrabble') }}" class="island-link1 island-scrabble1">
    <img class="island1" src="{{ asset('assets/images/ile-karlvin1.png') }}" alt="Scrabble des licornes" />
  </a>

  <a href="{{ path('app_coaster') }}" class="island-link1 island-star1">
    <img class="island1" src="{{ asset('assets/images/ile-elodie1.png') }}" alt="Star Coaster" />
  </a>

  <img class="clouds-front1" src="{{ asset('assets/images/clouds-front.png') }}" alt="">
</div>


<!-- ===================== -->
<!-- COLONNE DROITE -->
<!-- ===================== -->
<main class="right-col1">

  <!-- Carte titre -->
  <section class="card1 card-title1">
    <h1 class="title1">Bienvenue à la<br>Fête des Licornes !</h1>
  </section>

  <!-- Formulaire -->
  <section class="card1 card-form1">
    <h2 class="subtitle1">Formulaire</h2>

    <form method="post" class="form1">
      <label class="field1">
        <span class="label-text1">Nom :</span>
        <input name="nom" type="text" autocomplete="family-name" required>
      </label>

      <label class="field1">
        <span class="label-text1">Prénom :</span>
        <input name="prenom" type="text" autocomplete="given-name" required>
      </label>

      <label class="field1">
        <span class="label-text1">Âge :</span>
        <input name="age" type="number" min="0" max="120" required>
      </label>

      <label class="field1">
        <span class="label-text1">Email :</span>
        <input name="email" type="email" autocomplete="email" required>
      </label>

      <label class="field1">
        <span class="label-text1">Ville :</span>
        <input name="ville" type="text" required>
      </label>

      <button class="btn1" type="submit">Envoyer</button>
    </form>
  </section>

  <!-- Bouton équipe -->
  <a href="{{ path('app_equipe') }}" class="big-btn1" id="teamBtn1" >
  Découvrir l'équipe
  </a>

  <!-- Easter egg -->
  <section class="card1 card-egg1">
    <div class="egg1">
      <img src="{{ asset('assets/images/tokyo.png') }}" alt="Tokyo">
      <div class="egg-text1">
        <h3 class="egg-title1">Easter egg</h3>
        <p class="egg-desc1">
          Je suis Tokyo aide moi à<br>retrouver ma famille
        </p>
      </div>
    </div>
  </section>

</main>
{% endblock %}
