{% extends 'base.html.twig' %}

{% block title %}L'Équipe - Fête Foraine des Licornes{% endblock %}

{% block body %}
<main class="team-page5">
    
    <div class="team-container5">
        <div class="member5 js-member5" data-name="Karlvin F." data-portfolio="https://karlvinfdl.github.io/portfolio/">
            <img src="{{ asset('images/KFpixel.png') }}" class="pixel-art5" alt="Membre">
            <div class="name-tag5">Karlvin FIDELIN</div>
        </div>

        <div class="member5 js-member5" data-name="Kyllian N." data-portfolio="URL_GITHUB_KYLLIAN">
            <img src="{{ asset('images/KNpixel.png') }}" class="pixel-art5" alt="Membre">
            <div class="name-tag5">Kyllian NGOMA</div>
        </div>

        <div class="member5 js-member5 leader5" data-name="ALEXIS B." data-portfolio="https://alexisbail.github.io/mon-portfolio/">
            <div class="avatar-wrapper5">
                <img src="{{ asset('images/ABpixel.png') }}" class="pixel-art5" alt="BAIL Alexis">
            </div>
            <div class="name-tag5">Alexis BAIL</div>
        </div>

        <div class="member5 js-member5" data-name="Axel P. M." data-portfolio="https://axelpm4.github.io/Portfolio/">
            <img src="{{ asset('images/APpixel.png') }}" class="pixel-art5" alt="Membre">
            <div class="name-tag5">Axel PAULINO M.</div>
        </div>

        <div class="member5 js-member5" data-name="Elodie M." data-portfolio="https://elodie-16.github.io/mon_portfolio/">
            <img src="{{ asset('images/EMpixel.png') }}" class="pixel-art5" alt="Membre">
            <div class="name-tag5">Elodie MUSIAL</div>
        </div>
    </div>

    <nav class="actions5">
        <a id="link-portfolio" href="https://karlvinfdl.github.io/portfolio/" target="_blank" class="btn-custom5 btn-white5">Portfolio</a>
        
        <button type="button" id="btn-popup5" class="btn-custom5 btn-pink5">Soumettre un projet</button>
    </nav>
</main>

    <div id="popup" class="popup-overlay2" aria-hidden="true">
  <div class="popup-content2" role="dialog" aria-modal="true">
    <span id="close-btn2" class="close-btn2">&times;</span>

    <div id="ton-popup">
      <form class="form-popup2">
        <div class="grid2">
          <div class="col2">
            <label class="label2">*Nom :</label>
            <input type="text" class="input2" required>

            <label class="label2">*Prénom :</label>
            <input type="text" class="input2" required>
          </div>

          <div class="col2">
            <label class="label2">*Siret :</label>
            <input type="text" class="input2" required>

            <label class="label2">*Email :</label>
            <input type="email" class="input2" required>
          </div>
        </div>

        <h3 class="title2">Dites nous comment vous aider :</h3>

        <div class="checkbox-grid2">
          <label class="checkbox2">
            <input type="checkbox"> Site Vitrine
          </label>
          <label class="checkbox2">
            <input type="checkbox"> Prise de RDV
          </label>
          <label class="checkbox2">
            <input type="checkbox"> Paiement en ligne
          </label>
          <label class="checkbox2">
            <input type="checkbox"> Organisation des data
          </label>
        </div>

        <textarea class="textarea2" placeholder="Notes à l’équipe" maxlength="1500"></textarea>

        <div class="btn-container2">
          <button type="submit" class="submit-btn2">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}